/* цвет фона наша команда #2F303A; */
/*цвет текста в боди #757575; */
/*хедер лого Web голубой #2196F3; */
/* хедер лого Web черный #000000; */
/* цвет в нав,портфолио,и внимание к деталям #212121; */
/* цвет контактов в навигации #757575; */
/* белый цвет #FFFFFF; */
/*фон героя #2F303A; */
/*кнопка в  #F5F4FA; */

:root {
  --background-dark-grey: #2f303a;
  --grey-color: #757575;
  --blue-logo-color: #2196f3;
  --dark-logo-color: #000000;
  --white-color: #ffffff;
  --current-color: #212121;
  --footer-primary-color: rgba(255, 255, 255, 0.6);
  --light-gray-backg: #f5f4fa;
  --card-set-gap: 30px; 
  --button-shadow: rgba(0, 0, 0, 0.25);
  --grey-edging: rgba(238, 238, 238, 1);
--card-item: 4;
--grey-card-content:#EEEEEE;
--team-btm: rgba(0, 0, 0, 0.12);
  --team-bl: rgba(0, 0, 0, 0.14);
  --team-br: rgba(0, 0, 0, 0.2);
}



body {
  color: var(--grey-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  
  }
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .link {
    text-decoration: none;
    color: currentColor; 
}

.active-page {
    color: var(--blue-logo-color);
}
.list {
    list-style: none;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }



p {
  font-weight: 400;
  letter-spacing: 0.03em;
}
/* header */

.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
border-bottom: 1px solid 
var(--grey-color);
}
.header-container {
    display: flex;
    align-items: center;
  }
  .header-contact .link:hover,
.header-contact .link:focus {
    color: var(--blue-logo-color);
}

/* logo */

.logo {
  color: var(--blue-logo-color);
  font-family: 'Raleway',cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  display: flex;
}

.header .logo {
  margin-right: 93px;
}

.dark-logo {
  color: var(--dark-logo-color);
}

.white {
    color: var(--white-color);
}
.header .logo {
    margin-right: 93px;
 }

.section {
    padding-top: 94px;
    padding-bottom: 94px;

   }
   
/* navigation */

.nav {
    display: flex;
    align-items: center;
    color: var(--current-color);
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 50px;
    
}
.contact-list {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
  }

.nav-link,
.contact-link {
    display: flex;
  align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-link.list {
    color: var(--current-color);
}
.nav-link .link:hover,
.nav-link .link:focus {
    color: var(--blue-logo-color);
}



/* hero */

.hero {
    display: flex;
    background-color: var(--background-dark-grey);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}


.hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero-button {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--blue-logo-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px var(--button-shadow);
  border: none;
  padding: 10px 32px;
}
/* Button */
.select-button {
    cursor: pointer;
    font-family: inherit;
    background-color: var(--light-gray-backg);
    color: var(--current-color);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
padding: 6px 22px;

}
.select-button:hover,
.select-button:focus {
  background-color: var(--blue-logo-color);
  color: var(--white-color);
}

/* Контент и заголовки */
.card-set {


display: flex;
flex-wrap: wrap;

margin-top: calc(-1 * var(--card-set-gap));
margin-left: calc(-1 * var(--card-set-gap));

}


.about-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--current-color);
    margin-bottom: 10px;
    
}
.about-text {
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.7;
    
  }

  /* картинки и текст */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--current-color);
    margin-bottom: 50px;   
}

.we-do {
padding-top: 0;

}
.we-do-list {
  --card-item: 3;
}
.team {
    background-color: var(--light-gray-backg);
}

.team-item {
  box-shadow: 0px 1px 3px var(--team-btm), 0px 1px 1px var(--team-bl), 0px 2px 1px var(--team-br);
border-radius: 0px 0px 4px 4px;
   }



.team-specialist,
.team-title {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.team-specialist {
  font-weight: 400;
  letter-spacing: 0.03em;
  
  }

.team-title {
    font-weight: 500;
    letter-spacing: 0.03em;
    color: var(--current-color);
    margin-bottom: 10px;
  }

.team-content {
    align-items: center;
    background-color: var(--white-color);

    padding: 30px ;
   
}

/* контент портфолио */
.card-text {
font-size: 16px;
line-height: 1.88;
}
.card-heading {
  font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--current-color);
margin-bottom: 4px;
}


.portfolio-list {
  --card-item: 3;
}
.card-content {
  padding: 20px 24px;
  border: 1px solid var(--grey-card-content);
  border-top: none;
}

.card-item {
    flex-basis: calc(100% / var(--card-item) - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    
}


/* кнопки портфолио */
.select-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}



.list.select-list {
  
}


.select-button:hover,
.select-button:focus {
  background-color: var(--blue-logo-color);
  color: var(--white-color);
}


/* футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
    background-color: var(--background-dark-grey);
}
.footer-container {
  

}
.footer .logo {
    margin-bottom: 20px;
    display: inline-block;
}
.address {
    font-style: inherit;
}

.address-list {
  display: flex; 
  gap: 9px;
  flex-direction: column;
}

.address-link {
    color: var(--footer-primary-color);
}

.street {
    color: var(--white-color);
}
.address .link:hover
.address .link:focus{
    color: var(--blue-logo-color);
}


/* скрытый заголовок */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
  }